{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-8 col-sm-8"> </div> 
   <div id="contact" class="col-md-8 col-sm-8 contact-form">
				{{form_start(form, {'method': 'POST', 'attr':{'class': 'register'}})}}
					<div id="alert-msg" class="alert-msg"></div>
					<div class="input-group input-group-lg">
						
                                            <span class="input-group-addon" id="sizing-addon1"><img src="../assets/images/icon/user.png" alt="user"></span>
					   {{ form_label(form.username) }}
                                            {{ form_widget(form.username) }}
                                          {{ form_errors(form.username) }}
                                          
					</div>
					<div class="input-group input-group-lg ">
						<span class="input-group-addon" id="sizing-addon2"><i class="fa fa-envelope"></i></span>
						{{ form_label(form.email) }}
                                            {{ form_widget(form.email) }}
                                          {{ form_errors(form.email) }}
					</div>
					<div class="input-group input-group-lg">
						<span class="input-group-addon" id="sizing-addon3"><i class="fa fa-phone"></i></span>
						{{ form_label(form.plainPassword.first) }}
                                            {{ form_widget(form.plainPassword.first) }}
                                          {{ form_errors(form.plainPassword.first) }}
					</div>
					<div class="input-group input-group-lg textarea-control">
						<span class="input-group-addon" id="sizing-addon4"><i class="fa fa-pencil"></i></span>
						{{ form_label(form.plainPassword.second) }}
                                            {{ form_widget(form.plainPassword.second) }}
                                          {{ form_errors(form.plainPassword.second) }}
					</div>
		 {{ 'registration.submit'|trans }}
					<input class="btn btn-default send-message" type="submit" value="SEND MESSAGE">
				{{ form_end(form) }}
			</div>


  {#<div class="row">
    <div class="input-field col s12">
      {{ form_label(form.username) }}
      {{ form_widget(form.username) }}
    </div>
    {{ form_errors(form.username) }}
  </div>
  <div class="row no-padding">
    <div class="input-field col s12">
      {{ form_label(form.email) }}
    
    </div>
    {{ form_errors(form.email) }}
  </div>
  <div class="row no-padding">
    <div class="input-field col s12">
      {{ form_label(form.plainPassword.first) }}
      {{ form_widget(form.plainPassword.first) }}
    </div>
    {{ form_errors(form.plainPassword.first) }}
  </div>
  <div class="row no-padding">
    <div class="input-field col s12">
      {{ form_label(form.plainPassword.second) }}
      {{ form_widget(form.plainPassword.second) }}
    </div>
    {{ form_errors(form.plainPassword.second) }}
  </div>
 
  
  
  <div align="center" class="button-wrap">
    <button class="btn-large waves-effect waves-light" type="submit" name="action">
      {{ 'registration.submit'|trans }}
      <i class="material-icons">send</i>
    </button>
  </div>#}
