{% extends 'base.html.twig' %}
{% block title %} HomePage {%endblock%}
{% block body %}

	
	
	{{render(controller('AppBundle:Default:header'))}}
	<!-- Latest Updates -->
	<div class="container">
		<div class="latest-update col-md-2 no-padding">
			<h3>Latest Updates</h3>
		</div>
		<div class="col-md-10 latest-post-list no-padding">
			<div data-speed="20000" data-direction="left" class='marquee'>
				<a href="#">
					<img src="{{ asset('assets/images/latest-post-marquee.png') }}" alt="latest-post-marquee" /> Travelled down the road and back again</a>
				<a href="#">
					<img src="{{ asset('assets/images/latest-post-marquee.png') }}" alt="latest-post-marquee" /> Travelled down the road and back again</a>
				<a href="#">
					<img src="{{ asset('assets/images/latest-post-marquee.png') }}" alt="latest-post-marquee" /> Travelled down the road and back again</a>
				<a href="#">
					<img src="{{ asset('assets/images/latest-post-marquee.png') }}" alt="latest-post-marquee" /> Travelled down the road and back again</a>
			</div>
		</div>
	</div>
	<!-- Latest Updates /- -->
	
	{{render(controller('AppBundle:Default:slider'))}}
	{{render(controller('AppBundle:Default:adds'))}}
	<!-- Post --> 
	<div id="category-post-section" class="category-post-section">
		<!-- Container -->
		<div class="container">
			<div class="row">
				<!-- col-md-4 -->
				<div class="col-md-4 col-sm-6">
					<div class="post-box">
						<div class="image-box">
							<img src="{{ asset('assets/images/home/home1/post/post-1.jpg') }}" alt="post-1" />
							<a href="#" class="add-sign-big color-orange"><img src="{{ asset('assets/images/icon/big-plus.png') }}" alt="big-plus" /></a>
						</div>
						<ul class="comments-social">
							<li><a href="#"><img src="{{ asset('assets/images/icon/like-icon.png') }}" alt="like" /></a></li>
							<li class="dropdown">
								<a href="#"><img src="{{ asset('assets/images/icon/more-icon.png') }}" alt="more-icon" /></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Facebook</a></li>
									<li><a href="#">Twitter</a></li>
									<li><a href="#">Google</a></li>
									<li><a href="#">Linkedin</a></li>
								</ul>
							</li>
						</ul>
						<div class="post-box-inner">
							<a href="#" class="box-read-more"><img src="{{ asset('assets/images/icon/arrow.png') }}" alt="arrow" /> Read More</a>
							<div class="box-content">
								<span>Fashion</span>
								<a href="#" class="block-title">Skipper too will do their very best to make the others</a>
								<p class="time"><i class="fa fa-clock-o"></i> 1 Hour ago</p>
								<p>Well we're movin' on up to the east side to a deluxe apartment in the sky. The movie star the professor and Mary Ann here on Gilligans Isle.</p>
								<a href="#"><i class="fa fa-heart"></i> 8</a>
								<a href="#"><img src="{{ asset('assets/images/icon/comment-icon.png') }}" alt="comment" /> 13</a>
							</div>
						</div>
					</div>
				</div><!-- col-md-4 /- -->
				
				<!-- col-md-4 -->
				<div class="col-md-4 col-sm-6">
					<div class="post-box">
						<div class="image-box">
							<img src="{{ asset('assets/images/home/home1/post/post-5.jpg') }}" alt="post-5" />
							<a href="#" class="add-sign-big color-yellow-green"><img src="{{ asset('assets/images/icon/big-plus.png') }}" alt="big-plus" /></a>
						</div>
						<ul class="comments-social">
							<li><a href="#"><img src="{{ asset('assets/images/icon/like-icon.png') }}" alt="like" /></a></li>
							<li class="dropdown">
								<a href="#"><img src="{{ asset('assets/images/icon/more-icon.png') }}" alt="more-icon" /></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Facebook</a></li>
									<li><a href="#">Twitter</a></li>
									<li><a href="#">Google</a></li>
									<li><a href="#">Linkedin</a></li>
								</ul>
							</li>
						</ul>
						<div class="post-box-inner">
							<a href="#" class="box-read-more"><img src="{{ asset('assets/images/icon/arrow.png') }}" alt="arrow" /> Read More</a>
							<div class="box-content">
								<span>Entertainment</span>
								<a href="#" class="block-title">Love Boat soon will be making another run The Love </a>
								<p class="time"><i class="fa fa-clock-o"></i> 1 Hour ago</p>
								<p>Well we're movin' on up to the east side to a deluxe apartment in the sky. The movie star the professor and Mary Ann here on 
								Gilligans Isle.</p>
								<a href="#"><i class="fa fa-heart"></i> 8</a>
								<a href="#"><img src="{{ asset('assets/images/icon/comment-icon.png') }}" alt="comment" /> 13</a>
							</div>
						</div>
					</div>
				</div><!-- col-md-4 /- -->
				
				<!-- col-md-4 -->
				<div class="col-md-4 col-sm-6">
					<div class="post-box">
						<div class="image-box">
							<img src="{{ asset('assets/images/home/home1/post/post-3.jpg') }}" alt="post-3" />
							<a href="#" class="add-sign-big color-green"><img src="{{ asset('assets/images/icon/big-plus.png') }}" alt="big-plus" /></a>
						</div>
						<ul class="comments-social">
							<li><a href="#"><img src="{{ asset('assets/images/icon/like-icon.png') }}" alt="like" /></a></li>
							<li class="dropdown">
								<a href="#"><img src="{{ asset('assets/images/icon/more-icon.png') }}" alt="more-icon" /></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Facebook</a></li>
									<li><a href="#">Twitter</a></li>
									<li><a href="#">Google</a></li>
									<li><a href="#">Linkedin</a></li>
								</ul>
							</li>
						</ul>
						<div class="post-box-inner">
							<a href="#" class="box-read-more"><img src="{{ asset('assets/images/icon/arrow.png') }}" alt="arrow" /> Read More</a>
							<div class="box-content">
								<span>Travel</span>
								<a href="#" class="block-title">along come two they got on nothin' but their </a>
								<p class="time"><i class="fa fa-clock-o"></i> 1 Hour ago</p>
								<p>Well we're movin' on up to the east side to a deluxe apartment in the sky. The movie star the professor and Mary Ann here on 
								Gilligans Isle.</p>
								<a href="#"><i class="fa fa-heart"></i> 8</a>
								<a href="#"><img src="{{ asset('assets/images/icon/comment-icon.png') }}" alt="comment" /> 13</a>
							</div>
						</div>
					</div>
				</div><!-- col-md-4 /- -->
				
				<!-- col-md-4 -->
				<div class="col-md-4 col-sm-6">
					<div class="post-box">
						<div class="image-box">
							<img src="{{ asset('assets/images/home/home1/post/post-4.jpg') }}" alt="post-4" />
							<a href="#" class="add-sign-big color-navy-blue"><img src="{{ asset('assets/images/icon/big-plus.png') }}" alt="big-plus" /></a>
						</div>
						<ul class="comments-social">
							<li><a href="#"><img src="{{ asset('assets/images/icon/like-icon.png') }}" alt="like" /></a></li>
							<li class="dropdown">
								<a href="#"><img src="{{ asset('assets/images/icon/more-icon.png') }}" alt="more-icon" /></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Facebook</a></li>
									<li><a href="#">Twitter</a></li>
									<li><a href="#">Google</a></li>
									<li><a href="#">Linkedin</a></li>
								</ul>
							</li>
						</ul>
						<div class="post-box-inner">
							<a href="#" class="box-read-more"><img src="{{ asset('assets/images/icon/arrow.png') }}" alt="arrow" /> Read More</a>
							<div class="box-content">
								<span>Entertainment</span>
								<a href="#" class="block-title">orbit which freezes his life support systems</a>
								<p class="time"><i class="fa fa-clock-o"></i> 1 Hour ago</p>
								<p>Well we're movin' on up to the east side to a deluxe apartment in the sky. The movie star the professor and Mary Ann here on 
								Gilligans Isle.</p>
								<a href="#"><i class="fa fa-heart"></i> 8</a>
								<a href="#"><img src="{{ asset('assets/images/icon/comment-icon.png') }}" alt="comment" /> 13</a>
							</div>
						</div>
					</div>
				</div><!-- col-md-4 /- -->
				
				<!-- col-md-4 -->
				<div class="col-md-4 col-sm-6">
					<div class="post-box">
						<div class="image-box">
							<img src="{{ asset('assets/images/home/home1/post/post-5.jpg') }}" alt="post-5" />
							<a href="#" class="add-sign-big color-yellow-green"><img src="{{ asset('assets/images/icon/big-plus.png') }}" alt="big-plus" /></a>
						</div>
						<ul class="comments-social">
							<li><a href="#"><img src="{{ asset('assets/images/icon/like-icon.png') }}" alt="like" /></a></li>
							<li class="dropdown">
								<a href="#"><img src="{{ asset('assets/images/icon/more-icon.png') }}" alt="more-icon" /></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Facebook</a></li>
									<li><a href="#">Twitter</a></li>
									<li><a href="#">Google</a></li>
									<li><a href="#">Linkedin</a></li>
								</ul>
							</li>
						</ul>
						<div class="post-box-inner">
							<a href="#" class="box-read-more"><img src="{{ asset('assets/images/icon/arrow.png') }}" alt="arrow" /> Read More</a>
							<div class="box-content">
								<span>Fashion</span>
								<a href="#" class="block-title">leads a rag-tag fugitive fleet on a lonely quest</a>
								<p class="time"><i class="fa fa-clock-o"></i> 1 Hour ago</p>
								<p>Well we're movin' on up to the east side to a deluxe apartment in the sky. The movie star the professor and Mary Ann here on 
								Gilligans Isle.</p>
								<a href="#"><i class="fa fa-heart"></i> 8</a>
								<a href="#"><img src="{{ asset('assets/images/icon/comment-icon.png') }}" alt="comment" /> 13</a>
							</div>
						</div>
					</div>
				</div><!-- col-md-4 /- -->
				
				<!-- col-md-4 -->
				<div class="col-md-4 col-sm-6">
					<div class="post-box">
						<div class="image-box">
							<img src="{{ asset('assets/images/home/home1/post/post-6.jpg') }}" alt="post-6" />
							<a href="#" class="add-sign-big color-blue"><img src="{{ asset('assets/images/icon/big-plus.png') }}" alt="big-plus" /></a>
						</div>
						<ul class="comments-social">
							<li><a href="#"><img src="{{ asset('assets/images/icon/like-icon.png') }}" alt="like" /></a></li>
							<li class="dropdown">
								<a href="#"><img src="{{ asset('assets/images/icon/more-icon.png') }}" alt="more-icon" /></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Facebook</a></li>
									<li><a href="#">Twitter</a></li>
									<li><a href="#">Google</a></li>
									<li><a href="#">Linkedin</a></li>
								</ul>
							</li>
						</ul>
						<div class="post-box-inner">
							<a href="#" class="box-read-more"><img src="{{ asset('assets/images/icon/arrow.png') }}" alt="arrow" /> Read More</a>
							<div class="box-content">
								<span>Travel</span>
								<a href="#" class="block-title">We've a loveable space that needs everyone</a>
								<p class="time"><i class="fa fa-clock-o"></i> 1 Hour ago</p>
								<p>Well we're movin' on up to the east side to a deluxe apartment in the sky. The movie star the professor and Mary Ann here on 
								Gilligans Isle.</p>
								<a href="#"><i class="fa fa-heart"></i> 8</a>
								<a href="#"><img src="{{ asset('assets/images/icon/comment-icon.png') }}" alt="comment" /> 13</a>
							</div>
						</div>
					</div>
				</div><!-- col-md-4 /- -->
			</div>
		</div><!-- Container /- -->
	</div><!-- Post Section /- -->
	
	
	
	<!-- Latest Artical -->
	<div id="latest-articles" class="latest-articles">
		<!-- Section Header -->
		<div class="section-header">
			<h2>latest articles</h2>
		</div>
		<!-- Section Header /- -->
		
		<!-- Container -->
		<div class="container">
			<div class="row">
				<!-- col-md-8 -->
				<div class="col-md-8 col-sm-6">
					<div class="row">
					<!-- col-md-6 -->
					<div class="col-md-6">
						<div class="post-box">
							<div class="image-box">
								<img src="{{ asset('assets/images/home/home1/latest-articles/latest-articles-1.jpg') }}" alt="post-6" />
								<a href="#" class="add-sign-big color-pink"><img src="{{ asset('assets/images/icon/big-plus.png') }}" alt="big-plus" /></a>
							</div>
							<ul class="comments-social">
								<li><a href="#"><img src="{{ asset('assets/images/icon/like-icon.png') }}" alt="like" /></a></li>
								<li class="dropdown">
									<a href="#"><img src="{{ asset('assets/images/icon/more-icon.png') }}" alt="more-icon" /></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Facebook</a></li>
										<li><a href="#">Twitter</a></li>
										<li><a href="#">Google</a></li>
										<li><a href="#">Linkedin</a></li>
									</ul>
								</li>
							</ul>
							<div class="post-box-inner">
								<a href="#" class="box-read-more"><img src="{{ asset('assets/images/icon/arrow.png') }}" alt="arrow" /> Read More</a>
								<div class="box-content">
									<span>Fun</span>
									<a href="#" class="block-title">Now the world don't move to the beat of just one drum</a>
									<p class="time"><i class="fa fa-clock-o"></i> 1 Hour ago</p>
									<p>So lets make the most of this beautiful day. Since we're together. Come and dance on our floor. Take a step that is new. We've a loveable space that company too.</p>
									<a href="#"><i class="fa fa-heart"></i> 8</a>
									<a href="#"><img src="{{ asset('assets/images/icon/comment-icon.png') }}" alt="comment" /> 13</a>
								</div>
							</div>
						</div>
					</div><!-- col-md-6 /- -->
					
				
					
					<!-- col-md-6 -->
					<div class="col-md-6">
						<div class="post-box">
							<div class="image-box">
								<img src="{{ asset('assets/images/home/home1/latest-articles/latest-articles-7.jpg') }}" alt="post-6" />
								<a href="#" class="add-sign-big color-yellow-green"><img src="{{ asset('assets/images/icon/big-plus.png') }}" alt="big-plus" /></a>
							</div>
							<ul class="comments-social">
								<li><a href="#"><img src="{{ asset('assets/images/icon/like-icon.png') }}" alt="like" /></a></li>
								<li class="dropdown">
									<a href="#"><img src="{{ asset('assets/images/icon/more-icon.png') }}" alt="more-icon" /></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Facebook</a></li>
										<li><a href="#">Twitter</a></li>
										<li><a href="#">Google</a></li>
										<li><a href="#">Linkedin</a></li>
									</ul>
								</li>
							</ul>
							<div class="post-box-inner">
								<a href="#" class="box-read-more"><img src="{{ asset('assets/images/icon/arrow.png') }}" alt="arrow" /> Read More</a>
								<div class="box-content">
									<span>Travel</span>
									<a href="#" class="block-title">Till the one day when the lady met this fellow and it was</a>
									<p class="time"><i class="fa fa-clock-o"></i> 6 Hour ago</p>
									<p>So lets make the most of this beautiful day. Since we're together. Come and dance on our floor. Take a step that is new. We've a loveable space that company too.</p>
									<a href="#"><i class="fa fa-heart"></i> 8</a>
									<a href="#"><img src="{{ asset('assets/images/icon/comment-icon.png') }}" alt="comment" /> 13</a>
								</div>
							</div>
						</div>
					</div><!-- col-md-6 /- -->
					
					<!-- col-md-6 -->
					<div class="col-md-6">
						<div class="post-box">
							<div class="image-box">
								<img src="{{ asset('assets/images/home/home1/latest-articles/latest-articles-8.jpg') }}" alt="post-6" />
								<a href="#" class="add-sign-big color-blue"><img src="{{ asset('assets/images/icon/big-plus.png') }}" alt="big-plus" /></a>
							</div>
							<ul class="comments-social">
								<li><a href="#"><img src="{{ asset('assets/images/icon/like-icon.png') }}" alt="like" /></a></li>
								<li class="dropdown">
									<a href="#"><img src="{{ asset('assets/images/icon/more-icon.png') }}" alt="more-icon" /></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Facebook</a></li>
										<li><a href="#">Twitter</a></li>
										<li><a href="#">Google</a></li>
										<li><a href="#">Linkedin</a></li>
									</ul>
								</li>
							</ul>
							<div class="post-box-inner">
								<a href="#" class="box-read-more"><img src="{{ asset('assets/images/icon/arrow.png') }}" alt="arrow" /> Read More</a>
								<div class="box-content">
									<span>Travel</span>
									<a href="#" class="block-title">Well we're movin' on up to the east side</a>
									<p class="time"><i class="fa fa-clock-o"></i> 6 Hour ago</p>
									<p>So lets make the most of this beautiful day. Since we're together. Come and dance on our floor. Take a step that is new. We've a loveable space that company too.</p>
									<a href="#"><i class="fa fa-heart"></i> 8</a>
									<a href="#"><img src="{{ asset('assets/images/icon/comment-icon.png') }}" alt="comment" /> 13</a>
								</div>
							</div>
						</div>
					</div><!-- col-md-6 /- -->
					
					<!-- col-md-6 -->
					<div class="col-md-6">
						<div class="post-box">
							<div class="image-box">
								<img src="{{ asset('assets/images/home/home1/latest-articles/latest-articles-9.jpg') }}" alt="post-6" />
								<a href="#" class="add-sign-big color-dark-green"><img src="{{ asset('assets/images/icon/big-plus.png') }}" alt="big-plus" /></a>
							</div>
							<ul class="comments-social">
								<li><a href="#"><img src="{{ asset('assets/images/icon/like-icon.png') }}" alt="like" /></a></li>
								<li class="dropdown">
									<a href="#"><img src="{{ asset('assets/images/icon/more-icon.png') }}" alt="more-icon" /></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Facebook</a></li>
										<li><a href="#">Twitter</a></li>
										<li><a href="#">Google</a></li>
										<li><a href="#">Linkedin</a></li>
									</ul>
								</li>
							</ul>
							<div class="post-box-inner">
								<a href="#" class="box-read-more"><img src="{{ asset('assets/images/icon/arrow.png') }}" alt="arrow" /> Read More</a>
								<div class="box-content">
									<span>Fashion</span>
									<a href="#" class="block-title">It's time to raise the curtain on the Muppet Show</a>
									<p class="time"><i class="fa fa-clock-o"></i> 7 Hour ago</p>
									<p>So lets make the most of this beautiful day. Since we're together. Come and dance on our floor. Take a step that is new. We've a loveable space that company too.</p>
									<a href="#"><i class="fa fa-heart"></i> 8</a>
									<a href="#"><img src="{{ asset('assets/images/icon/comment-icon.png') }}" alt="comment" /> 13</a>
								</div>
							</div>
						</div>
					</div><!-- col-md-6 /- -->
					<nav>
						<ul class="pagination">
							<li>
								<a href="#" aria-label="Previous">
									<span aria-hidden="true">Previous</span>
								</a>
							</li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li>
								<a href="#" aria-label="Next">
									<span aria-hidden="true">Next</span>
								</a>
							</li>
						</ul>
					</nav>
					</div>
				</div><!-- col-md-8 /- -->
			
				<!-- col-md-4 -->
				<div class="col-md-4 col-sm-6 widget-sidebar">
					
					<!-- Latest Post -->
					<aside class="widget widget_latest_post">
						<h3 class="widget-title">latest Post</h3>
						<div class="widget-inner">
							<ul class="post">
								<li>
									<div class="col-md-5 col-sm-5 col-xs-4">
										<a href="#"><img src="{{ asset('assets/images/widget/widget-post-1.jpg') }}" alt="popular-post" /></a>
									</div>
									<div class="col-md-7 col-sm-7 col-xs-8">
										<a href="#" class="post-title">where you can see our  of troubles are all </a>
										<p>
											<a href="#"><i class="fa fa-heart"></i> 33</a> 
											<span><i class="fa fa-clock-o"></i> 1 Hour ago</span>
										</p>
									</div>
								</li>
								<li>
									<div class="col-md-5 col-sm-5 col-xs-4">
										<a href="#"><img src="{{ asset('assets/images/widget/widget-post-2.jpg') }}" alt="popular-post" /></a>
									</div>
									<div class="col-md-7 col-sm-7 col-xs-8">
										<a href="#" class="post-title">crew the Minnow would be lost the Minnow</a>
										<p>
											<a href="#"><i class="fa fa-heart"></i> 30</a> 
											<span><i class="fa fa-clock-o"></i> 1 Hour ago</span>
										</p>
									</div>
								</li>
								<li>
									<div class="col-md-5 col-sm-5 col-xs-4">
										<a href="#"><img src="{{ asset('assets/images/widget/widget-post-3.jpg') }}" alt="popular-post" /></a>
									</div>
									<div class="col-md-7 col-sm-7 col-xs-8">
										<a href="#" class="post-title">Come and listen to a story about Jed</a>
										<p>
											<a href="#"><i class="fa fa-heart"></i> 25</a> 
											<span><i class="fa fa-clock-o"></i> 1 Hour ago</span>
										</p>
									</div>
								</li>
							</ul>
						</div>
					</aside><!-- Latest Post /- -->
					
					<!-- Latest Tweets -->
					<aside class="widget widget_latest_tweets">
						<h3 class="widget-title">latest Tweets</h3>
						<div class="widget-inner">
							<ul class="tweets">
								<li>
									<div class="col-md-1 col-sm-1 col-xs-1">
										<i class="fa fa-twitter"></i>
									</div>
									<div class="col-md-11 col-sm-11 col-xs-11">
										<a href="#" class="tweets-title">@Murphy zim</a>
										<p>
											To a deluxe apartment in the sky! Believe it or not I'm walking on air. I never <a href="#">http://Ranzim.designby Ranzim.com/ RanzimPersonalBlog</a><span>10 Min ago</span>
										</p>
									</div>
								</li>
								<li>
									<div class="col-md-1 col-sm-1 col-xs-1">
										<i class="fa fa-twitter"></i>
									</div>
									<div class="col-md-11 col-sm-11 col-xs-11">
										<a href="#" class="tweets-title">@Murphy zim</a>
										<p>
											To a deluxe apartment in the sky! Believe it or not I'm walking on air. I never <a href="#">http://Ranzim.designby Ranzim.com/ RanzimPersonalBlog</a><span>10 Min ago</span>
										</p>
									</div>
								</li>
								<li>
									<div class="col-md-1 col-sm-1 col-xs-1">
										<i class="fa fa-twitter"></i>
									</div>
									<div class="col-md-11 col-sm-11 col-xs-11">
										<a href="#" class="tweets-title">@Murphy zim</a>
										<p>
											To a deluxe apartment in the sky! Believe it or not I'm walking on air. I never <a href="#">http://Ranzim.designby Ranzim.com/ RanzimPersonalBlog</a><span>10 Min ago</span>
										</p>
									</div>
								</li>
							</ul>
						</div>
					</aside><!-- Latest Tweets /- -->
					
					<!-- Flicker -->
					<aside class="widget widget_Flicker">
						<h3 class="widget-title">follow on flickr</h3>
						<div class="widget-inner">
							<div id="widget-flicker" class="owl-carousel owl-theme">
								<div class="item">
									<a href="#">
										<img src="{{ asset('assets/images/widget/flicker-1.jpg') }}" alt="flicker" />
										<span>celebrating 2015 new year</span>
									</a>
								</div>
								<div class="item">
									<a href="#">
										<img src="{{ asset('assets/images/widget/flicker-1.jpg') }}" alt="flicker" />
										<span>celebrating 2015 new year</span>
									</a>
								</div>
								<div class="item">
									<a href="#">
										<img src="{{ asset('assets/images/widget/flicker-1.jpg') }}" alt="flicker" />
										<span>celebrating 2015 new year</span>
									</a>
								</div>
							</div>
						</div>
					</aside><!-- Flicker /- -->
					
					<!-- Comments -->
					<aside class="widget widget_comments">
						<h3 class="widget-title">recent comments</h3>
						<div class="widget-inner">
							<ul class="comment">
								<li>
									<div class="col-md-3 col-sm-3 col-xs-4">
										<a href="#"><img src="{{ asset('assets/images/widget/comment-1.jpg') }}" alt="popular-post" /></a>
									</div>
									<div class="col-md-9 col-sm-9 col-xs-8">
										<a href="#" class="comment-title">Chris evans <span>5 Min ago</span></a>
										<p>Straight ahead and on the track now. We're gonna make our dreams come true.</p>
									</div>
								</li>
								<li>
									<div class="col-md-3 col-sm-3 col-xs-4">
										<a href="#"><img src="{{ asset('assets/images/widget/comment-2.png') }}" alt="popular-post" /></a>
									</div>
									<div class="col-md-9 col-sm-9 col-xs-8">
										<a href="#" class="comment-title">lucy jesik <span>5 Min ago</span></a>
										<p>Straight ahead and on the track now. We're gonna make our dreams come true.</p>
									</div>
								</li>
								<li>
									<div class="col-md-3 col-sm-3 col-xs-4">
										<a href="#"><img src="{{ asset('assets/images/widget/comment-3.png') }}" alt="popular-post" /></a>
									</div>
									<div class="col-md-9 col-sm-9 col-xs-8">
										<a href="#" class="comment-title">andrew kim <span>5 Min ago</span></a>
										<p>Straight ahead and on the track now. We're gonna make our dreams come true.</p>
									</div>
								</li>
							</ul>
						</div>
					</aside><!-- Comments /- -->
					
				</div><!-- col-md-4 /- -->
			</div>
		</div><!-- container /- -->
	</div><!-- Latest Artical /- -->
	
	
	
{% endblock%}
